body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#440F2B;
    text-align: center;
    padding: 15px 0;
  }
  
  ul li {
    display: inline;
  }
  
  ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .testForm {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 430px;
    border-radius: 10px;
    border-style: solid;    }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color:#440F2B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: block;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color:#043f20;
  }
  
  .tasks-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .task {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding:25px;
    border-style: solid;
  }

  .task-text {
    flex-grow: 1;
  }

  .delete-button {
    margin-left: 10px;
    cursor: pointer;
  }