body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8a1f58;
  text-align: center;
  padding: 15px 0;
}

ul li {
  display: inline;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.testForm {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 430px;
  border-radius: 10px;
  border-style: solid;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="time"],
input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin-bottom: 5px;
}

.input-container input {
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #8a1f58;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  display: block;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #440f2b;
}

.tasks-content {
  margin-top: 10px;
}

.task-container {
  position: relative; /* Make it a positioning context for its children */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 25px;
  border-style:groove;
}
  

.task-text {
  flex-grow: 1;
}
 
.due-time {
  position: absolute; /* Position relative to the task container */
  top: 60px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position as needed */
  color: #440f2b; /* Change the color of the time display */
  font-size: 14px;

}

.delete-button {
  cursor: pointer;
  margin-left: 10px;
}
.delete-button,
.edit-button {
  background-color: #8a1f58;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  height: 30px;
}




input[type="time"] {
  /* Add your desired styles */
  appearance: textfield; /* Override browser default styles */
  -webkit-appearance: textfield; /* For Safari/Chrome */
  -moz-appearance: textfield; /* For Firefox */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style the arrow button of the time input (for browsers that support it) */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none; /* Hide the default arrow button */
}

/* Style the clock icon of the time input (for browsers that support it) */
input[type="time"]::-webkit-clock-picker-button {
  display: none; /* Hide the clock icon */
}
